#brief {
    padding-top: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #00B1FF;
}


#brief {
    margin-top: 10px;
}

#aboutme {
    border-radius: .3rem;
    background-color: #007DB3;
}

.row {
    padding-bottom: 25px;
}

#contact {
    background-color: #007DB3;
    border-radius: .3rem;
}
